/* Estilo do body */
body {
    margin: 0 !important;
    font-family: Arial, sans-serif !important;
    background-color: #ffffff !important;
    height: 100vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/* Estilo do LoginContainer */
.formContainer {
    width: 100%;
    height: 100%;
}

/* Estilo do LoginBox */
.formBox {
    background-color: #FCFCFC !important;
    border-radius: 20px !important;
    padding: 20px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    text-align: center !important;
    width: 90% !important; /* Ajuste a largura para telas pequenas */
    max-width: 600px !important; /* Ajuste a largura máxima para telas grandes */
}

/* Estilo do Logo */
.logo img {
    width: 50% !important; /* Ajuste a largura da imagem para telas pequenas */
    height: auto !important; 
    margin-top: -5vw !important;
}

/* Estilo do Paragrafo */
.logo p {
    margin: 0 0 20px !important;
    font-size: 14px !important;
    color: #777 !important;
    margin-top: -2vw !important;
}

/* Estilo do Form */
.formGroup {
    margin-bottom: 15px !important;
    text-align: left !important; 
}

/* Estilo dos Labels */
.formGroup label {
    display: block !important;
    font-size: 14px !important;
    color: #066E96 !important;
    margin-bottom: 5px !important;
}

/* Estilo dos Inputs */
.formGroup input {
    width: 100% !important; 
    padding: 10px !important;
    font-size: 14px !important;
    border: 1px solid #50B498 !important;
    border-radius: 5px !important;
    box-sizing: border-box !important;
}

.formGroup input:focus {
    outline: none !important;
    border-color: #468585 !important;
}

/* Estilo do Forgot Password e Create Account */
.forgotPassword {
    text-align: left !important;
    margin-bottom: 20px !important;
}

.forgotPassword a {
    font-size: 12px !important;
    color: #066d9660 !important;
}

.createAccount {
    text-align: left !important;
    margin-bottom: 20px !important;
    margin-top: 5px !important;
    text-align: center !important;
}

.createAccount a {
    font-size: 12px !important;
    color: #066E96 !important;
    text-decoration: none !important;
}

/* Estilo do botão */
.button {
    width: 100% !important;
    padding: 10px !important;
    background-color: #468585 !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    font-size: 16px !important;
    cursor: pointer !important;
}

.button:hover {
    background-color: #50B498 !important;
}
