
  .header {
    padding: 20px;
    width: calc(100% - 250px); 
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 250px; /* Espaçamento para a sidebar */
  }
  
  .recent-access {
    display: flex;
    flex-direction: column;
  }

  .text-recent-access {
    color: grey;
    font-size: 15px;
    display: flex;
  }


  .card {
    width: 26vh;
    height: 30vh;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-header {
    background-color: #e0f7da; /* Ajuste a cor conforme necessário */
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-icon {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: 30px;
  }
  
  .card-content {
    margin-top: 20px;
    text-align: center;
  }